<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mitrais.onestopclick">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_looks_one"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.play_movie.PlayMovieActivity"
            android:parentActivityName=".view.edit_movie.EditMovieActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.add_product.AddProductActivity"
            android:parentActivityName=".view.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.edit_book.EditBookActivity"
            android:parentActivityName=".view.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.read_book.ReadBookActivity"
            android:parentActivityName=".view.edit_book.EditBookActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".view.edit_music.EditMusicActivity"
            android:parentActivityName=".view.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.edit_movie.EditMovieActivity"
            android:parentActivityName=".view.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.search_product.SearchProductActivity"
            android:parentActivityName=".view.main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.forgot_password.ForgotPasswordActivity"
            android:parentActivityName=".view.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatusBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.registration.RegistrationActivity"
            android:parentActivityName=".view.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatusBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatusBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".view.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.TransparentStatusBar"
            android:windowSoftInputMode="adjustResize" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9ff704fc5cf7f800c4c135a7994497585a0a576e" />
    </application>

</manifest>